@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bggradient {
  background: linear-gradient(270deg, #ead661, #ff8208);
  background-size: 400% 400%;

  -webkit-animation: BackgroundGradient 6s ease infinite;
  -moz-animation: BackgroundGradient 6s ease infinite;
  animation: BackgroundGradient 6s ease infinite;
}

@-webkit-keyframes BackgroundGradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@-moz-keyframes BackgroundGradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@keyframes BackgroundGradient {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
