@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.title {
  font-size: 200%;
  font-weight: 600;
}

.subtext {
  font-family: 'Russo One', sans-serif;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  background-clip: text;
}

.infotexthover {
  position: relative;
  display: inline-block;
}

.infotexthover:hover .infotextwrapper {
  width: 100%;
}

.infotexthover {
  font-family: 'Russo One', sans-serif;
  color: #ff8208;
}

.infotextwrapper {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 0;
  display: inline-block;
  white-space: pre;
  font-family: 'Russo One', sans-serif;
  color: #ff8208;
  transition: width 500ms;
  border-bottom: 1px solid;
  padding-bottom: 0.15em;
}

.infotextwrapper a {
  color: inherit;
}
