.title {
  font-size: 200%;
  font-weight: 600;
}


.btnText {
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
}

.subtext {
  font-family: 'Russo One', sans-serif;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  background-clip: text;
}

.infotexthover {
  font-family: 'Russo One', sans-serif;
  color: #ff8208;
}
