@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.hero {
  font-family: 'Russo One', sans-serif;
  width: 100%;
  height: 100%;
}

.hero text {
  text-transform: uppercase;
  animation: stroke 4s infinite alternate cubic-bezier(0.25, 0.1, 0.25, 1);
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 7.5rem;
}

@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgba(255,130, 8, 1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: rgba(255,130, 8, 1); }
	80%  {fill: rgba(72,138,20,0); stroke: rgba(255,130, 8, 1); stroke-width: 3; }
	100% {
		fill: rgba(255,162, 8, 1); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
